<br><br><br><br><br>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="container align-center">
<div class="justify-content-center">
			<div class="card border-primary" style="width: 40rem; height: 27rem;">
			<div class="card-header">
				<h5 class="card-title">Registrarse</h5>
			</div>
				
				<div class="card-body">
          <div class="form-label">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="form-label">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="form-label">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
				</div>
	
				<div class="card-footer bg-transparent border-primary">
					  <div class="actions">
            <%= f.submit "Registrarse", class: "form-control btn btn-success"  %>
              
            </div>
				</div>
	</div>
	</div>
<% end %>




<%= render "devise/shared/links" %>
