<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @topic.nombre %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @topic.tag_id %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', tags_path %>
