<%= form_with(model: tendency) do |form| %>
  <% if tendency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tendency.errors.count, "error") %> prohibited this tendency from being saved:</h2>

      <ul>
        <% tendency.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br><br><br>

  <div class="container">
<div class="justify-content-center">
			<div class="card border-primary" style="width: 40rem; height: 27rem;">
			<div class="card-header">
				<h5 class="card-title">Agregar Tendencia</h5>
			</div>
				
				<div class="card-body">
          <div class="form-label">
              <%= form.label :nombre %>
              <%= form.text_field :nombre, class: "form-control" %>
            </div>

            <div class="form-label">
              <%= form.label :descripcion %>
              <%= form.text_area :descripcion, class: "form-control"  %>
            </div>
            <div class="form-label">

            <%= form.label :cover_photo %>
            <%= form.file_field :cover_photo, class: "form-control" %>
          </div>
				</div>
	
				<div class="card-footer bg-transparent border-primary">
					  <div class="actions">
            <%= form.submit "Aceptar",class: "form-control btn btn-success" %>
              
            </div>
				</div>
	</div>
	</div>

  
<% end %>
