<p id="notice"><%= notice %></p>
<!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="assets/images/avataars.svg" alt="" />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">EDC Generador De Ideas</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>
            </div>
        </header>
<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Tendencias</h2>

<div class="container">
<%= link_to 'Agregar Tendencia', new_tendency_path, class: "btn btn-success" %>
<br><br>
<div class="row row-cols-2 row-cols-lg-5 g-3 g-lg-3 justify-content-center">
<% @tendencies.each do |tendency| %>
	<div class="col-md-6 col-lg-4 mb-5">
			<div class="card border-primary mb-3" style="width: 15rem; height: 20rem;">
			<div class="card-header">
				<h5 class="card-title"><%= tendency.nombre %></h5>
			</div>


				<div class="card-body">
				<%= link_to tags_path(tendency.nombre) do %>
				<%= image_tag url_for(tendency.cover_photo), class: "container" %>
				<% end %>
				<p class="card-text"><%= tendency.descripcion %></p>
				</div>

				<div class="card-footer bg-transparent border-primary">
					<%= link_to 'Editar', edit_tendency_path(tendency), class: "btn btn-warning"  %>
					<%= link_to 'Eliminar', tendency, method: :delete, data: { confirm: '¿Seguro que quieres eliminar esta tendencia?' },
					class: "btn btn-danger" %>
				</div>
			</div>
	</div>
	<% end %>
  
  
	</div>
</div>
