<p id="notice"><%= notice %></p>
<br><br><br>

<p>
  <strong>Nombre:</strong>
  <%= @tendency.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @tendency.descripcion %>
</p>

<p>
  <%= image_tag url_for(@tendency.cover_photo) %>
  <%= link_to @tendency.cover_photo.filename,rails_blob_path(@tendency.cover_photo, disposition: "attachment") %>
</p>

<%= link_to 'Editar', edit_tendency_path(@tendency), class: "btn btn-warning" %> |
<%= link_to 'Regresar', tendencies_path, class: "btn btn-secondary"  %>
