<%= form_with(model: tag) do |form| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
        <% tag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br><br><br>

  <div class="container">
<div class="justify-content-center">
			<div class="card border-primary" style="width: 40rem; height: 27rem;">
			<div class="card-header">
				<h5 class="card-title">Agregar Categoria</h5>
			</div>
				
				<div class="card-body">
          <div class="form-label">
              <%= form.label :titulo %>
              <%= form.text_field :titulo, class: "form-control" %>
            </div>

            <div class="form-label">
              <%= form.label :tendency_id %>
              <%= form.select :tendency_id, Tendency.all.collect { |p| [ p.nombre, p.id ] }, class: "form-control" %>
            </div>
           
				</div>
	
				<div class="card-footer bg-transparent border-primary">
					  <div class="actions">
            <%= form.submit "Aceptar",class: "form-control btn btn-success" %>
              
            </div>
				</div>
	</div>
	</div>
<% end %>
