<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @tag.titulo %>
</p>

<p>
  <strong>Tendency:</strong>
  <%= @tag.tendency_id %>
</p>

<%= link_to 'Editar', edit_tag_path(@tag) %> |
<%= link_to 'Regresar', tags_path(:tendencia => params[:tendencia]) %>
