<br><br><br>
<br><br>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container align-center">
<div class="justify-content-center">
			<div class="card border-primary" style="width: 40rem; height: 27rem;">
			<div class="card-header">
				<h5 class="card-title">Iniciar Sesion</h5>
			</div>
				
				<div class="card-body">
          <div class="form-label">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="form-label">
             <%= f.label :password %><br />
             <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>

            <div class="form-label">
            <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          </div>
	
				<div class="card-footer bg-transparent border-primary">
					  <div class="actions">
            <%= f.submit "Log in", class: "form-control btn btn-primary" %>
            </div>
				</div>
	</div>
	</div>
<% end %>

<%= render "devise/shared/links" %>
